<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Image Generator</title>
</head>

<body>
    <form method=GET action="{{ url_for('main') }}">
        <input type="submit" class="button" value="Home">
    </form>
    <h1>Generate an Image</h1>
    <form method=POST enctype="multipart/form-data" action="{{ url_for('generate') }}">
        <input type="number" name="value" min="0" max="9">
        <input type="submit" name="submit" class=button value="Generate image">
    </form>
</body>

</html>
