<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Generated Image</title>
</head>

<body>
    <div class="nav">
        <ul>
            <li>
                <form method=GET action="{{ url_for('main') }}">
                    <input type="submit" class="button" value="Home">
                </form>
            </li>
            <li>
                <form method=GET action="{{ url_for('about') }}">
                    <input type="submit" class="button" value="About">
                </form>
            </li>
            <li>
                <form method=GET action="{{ url_for('upload') }}">
                    <input type="submit" class="button" value="Classify">
                </form>
            </li>
            <li>
                <form method=GET action="{{ url_for('generate') }}">
                    <input type="submit" class="button" value="Generate">
                </form>
            </li>
        </ul>
    </div>
    
    <h1>Generated Image</h1>
    <img src="{{ url }}">
</body>

</html>
