body {
  background-color: #0D47A1;
}
h1 {
  color: #F5F5F5;
  font-family: verdana;
  font-size: 300%;
}
h2 {
  color: #F5F5F5;
  font-family: verdana;
  font-size: 200%;
}
p {
  color: #F5F5F5;
  font-family: courier;
  font-size: 150%;
}
table {
  font-family: arial, sans-serif;
  font-size: 125%;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #F5F5F5;
}
tr:nth-child(even) {
  background-color: #E0E0E0;
}
.button {
  background-color: #1976D2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: courier;
  font-size: 150%;
  margin: 4px 2px;
  cursor: pointer;
}
